.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

.env
.github/**
evidence/**
metrics/**
scripts/**
target/**
testdata/**
tools/**
*.class
*.log
analysis-report.json
lizard-report.xml
pom.xml

testcode/.sustainadev/**
testcode/.vscode/**

node_modules/**
!node_modules/tree-sitter/**
!node_modules/tree-sitter-java/**
!node_modules/tree-sitter-python/**
!node_modules/tree-sitter-javascript/**
!node_modules/tree-sitter-typescript/**
!node_modules/node-gyp-build/**

!src/presentation/media/**